a:hover,
.nav li ul li a:hover { color: #154B78; }

#header{
    background: #154B78;
}

.nav li a { 
	background: none; 
}

.button, .button:visited {
	background-color: #154B78; 
}

.button:hover { 
	background-color: #369; 
}

