a:hover,
.nav li ul li a:hover { color: #588E76; }

#header{
    background: #588E76;
}

.nav li a { 
	background: none; 
}

.button, .button:visited {
	background-color: #588E76; 
}

.button:hover { 
	background-color: #84A6B2; 
}

